/* Settings
******************************************************************************/
:root {
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #777;
  --color-gray--light: #eee;
  --color-alert: #ffaa00;
}

/* General layout
******************************************************************************/
.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(221, 221, 221, 0.95);
}

.modal {
  z-index: 200;

  width: 90%;
  max-width: 600px;
  min-height: 420px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  background-color: #fff;
  color: var(--color-black);

  font-size: 0.9rem;
}

/* Modal Header
******************************************************************************/
.modal__header {
  padding: 1rem;

  background-color: var(--color-gray--light);
}

.modal__title {
  font-size: 1rem;
  font-weight: 400;
}

/* Modal Controls
******************************************************************************/
.modal__controls {
  padding: 1rem;
  border-top: 1px solid var(--color-gray);
  display: flex;
  justify-content: flex-end;
}

/* Buttons */
button {
  appearance: none;
  width: 100px;
  height: 40px;
  font: inherit;
  font-size: 0.9rem;
  transition: color 0.3s, background-color 0.3s;
}

button + button {
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.modal__btn--open {
  width: 200px;
  height: 60px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #3f3075,
    rgb(72, 154, 168),
    #3f3075
  );
  background-size: 200%;
  background-position: left;
  border: 2px solid;
  transition: background-position 0.5s;
}

.modal__btn--open:hover {
  background-position: right;
}

.modal__btn--close {
  color: var(--color-gray);
  border: 1px solid;
  background-color: var(--color-white);
}

.modal__btn--close:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.modal__btn--submit {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
}

.modal__btn--submit:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

/* Modal Form
******************************************************************************/
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 270px;
}

.form__field {
  display: flex;
  width: 100%;
  align-items: center;
  height: fit-content;
  min-height: 34px;
}

.form__field + .form__field {
  margin-top: 1rem;
}

.form__field--input {
  width: calc(100% - 120px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__field--radio {
  display: flex;
  align-items: center;
}

.form__label {
  width: 120px;
}

.form__input--text {
  padding: 0.5rem;
  width: 100%;
  font: inherit;
  border: 1px solid;
}

.form__input--text::placeholder {
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--color-gray);
}

.form__input--radio__label {
  padding: 0.5rem;
  cursor: pointer;
}

.form__input--radio {
  display: block;
}
.form__input--radio__label + .form__input--radio {
  margin-left: 0.5rem;
}

.form__input--time {
  padding: 0.5rem;
  max-height: 34px;
  font: inherit;
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  cursor: pointer;
}

.form__input--span {
  padding: 0 1rem;
}

.form__input--text:invalid,
.form__input--time:invalid {
  color: var(--color-alert);
}

.form__input--select {
  min-width: 120px;
  appearance: none;
  padding: 0.5rem;
  border-radius: unset;
  background-image: url('../assets/select-arrow.svg');
  background-position: right;
  background-size: 20%;
  background-repeat: no-repeat;
}