.backdrop {
  @include center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 100;

  background-color: rgba(221, 221, 221, 0.95);
}

.modal {
  z-index: 200;

  width: 90%;
  max-width: 600px;
  min-height: 420px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  background-color: #fff;
  color: var(--color-black);

  font-size: 0.9rem;
}